*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  padding: 4px 8px;
  font-size: 18px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  background-color: black;
  padding: 16px;

  max-width: 1200px;
  margin: 12px auto;
}
.header-box {
}
.nav-box {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;

  background-color: rgb(65, 60, 60);
  padding: 16px;
}
.nav-element {
  flex-grow: 1;
  background-color: rgb(251, 96, 57);
}
.nav {
  flex-grow: 2;
}
.banner {
  background-color: orange;
  padding: 16px;
}
.banner-title {
  padding: 4px 8px;
  font-size: 38px;

  background-color: rgb(255, 221, 51);
}
.main-box {
  display: flex;
  gap: 16px;
}
.articles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: rgba(59, 42, 112, 0.933);
  padding: 16px;
  flex-grow: 3;
}
.article-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.article-item {
  background-color: rgb(101, 78, 202);
  flex: 1 1 calc(50% - 8px);
}
.navigation {
  background-color: rgb(88, 196, 235);
}
.ad-list {
  flex-grow: 0.8;
  padding: 16px;
  background-color: rgb(200, 99, 99);

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}
.ad-item {
  background-color: rgb(195, 195, 24);
  width: 100%;
}
.footer-box {
}
.footer-info {
  background-color: rgb(245, 245, 165);
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    padding: 14px;
  }
  p {
    font-size: 16px;
  }
  .nav-box {
    padding: 14px;
    flex-direction: column;
    gap: 14px;
  }
  .nav {
    flex-grow: 1;
  }
  .banner {
    padding: 14px;
  }
  .banner-title {
    font-size: 30px;
  }
  .main-box {
    flex-direction: column;
  }
  .articles-wrapper {
    padding: 14px;
    gap: 14px;
  }
  .article-list {
    gap: 14px;
    flex: 1 1 calc(50% - 7px);
  }
  .ad-list {
    padding: 14px;
  }
}
@media (max-width: 575.98px) {
  .container {
    padding: 14px;
  }
  p {
    font-size: 14px;
  }
  .nav-box {
    padding: 14px;
    flex-direction: column;
    gap: 14px;
  }
  .nav {
    flex-grow: 1;
  }
  .banner {
    padding: 14px;
  }
  .banner-title {
    font-size: 24px;
  }
  .main-box {
    flex-direction: column;
  }
  .articles-wrapper {
    padding: 14px;
    gap: 14px;
  }
  .article-list {
    gap: 14px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .ad-list {
    padding: 14px;
  }
}
